*{

  box-sizing: border-box;

}

body{
background-color:#000;
  max-width: 900px;

  float: none;

  margin: auto;

  font-family: Lato;

}

#portfolio {

    margin: 1rem 0;

    -webkit-column-count: 3; 

    -moz-column-count: 3;

    column-count: 4;

    -webkit-column-gap: 1rem;

    -moz-column-gap: 1rem;

    column-gap: 1rem;

    -webkit-column-width: 20%;

    -moz-column-width: 20%;

    column-width: 25%;

}

.tile { 

    -webkit-transform: scale(0);

    transform: scale(0);

    -webkit-transition: all 350ms ease;

    transition: all 350ms ease;

}

.scale-anm {

  transform: scale(1);

}

p{ 

  padding:10px; 

  border-bottom: 1px #ccc dotted; 

  text-decoration: none; 

  font-family: lato; 

  text-transform:uppercase; 

  font-size: 12px; 

  color: #333; 

  display:block; 

  float:left;

}

p:hover { 

  cursor:pointer; 

  background: #333; 

  color:#eee; }

.tile img {

  border: 1px solid #ddd;
  border-radius: 5%;
  padding: 5px;
  width: 80%;
}
.tile img:hover {

  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);

}
.btn {

    

    font-size: 1rem;

    font-weight: normal;

    text-decoration: none;

    cursor: pointer;

    display: inline-block;

    line-height: normal;

    padding: .5rem 1rem;

    margin: 0;

    height: auto;

    border: 1px solid #ccc;

    vertical-align: middle;

    -webkit-appearance: none;

    color: #555;

    background-color: rgba(0, 0, 0, 0);

    border-radius: 3px;

}

.btn:hover {

  text-decoration: none;

  background: rgb(236, 76, 76);

  color: #fff;

}

::-moz-focus-inner {

  border: 0;

  padding: 0;

}

.active{

  background: rgb(236, 76, 76);

  color: #fff;

  border: none

}

.tcenter{

  text-align: center;

}


.toolbar mb2 mt2{

  position: fixed;
  bottom: 0;
  left:0;
  
  text-align: center;

}

.top{

  margin-bottom: 50px;

}
